body {
  color: #333;
}

.team-title input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 5px;
  width: 60%;
  text-align: right;
}

.team-score {
  font-size: 72px;
  margin-left: 100px;
}

.team-offset .btn {
  float: left;
  margin-top: 23px;
  margin-right: 20px;
}

.btn-custom {
  color: #FFF;
  background-color: #FF6C00;
  border-color: #FF6C00;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  color: #FFF;
  background-color: #e66100;
  border-color: #cc5600;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  color: #FFF;
  background-color: #FF6C00;
  border-color: #FF6C00;
}
