body {
  color: #333;
}

.team-title input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 5px;
  width: 60%;
  text-align: right;
}

.team-score {
  font-size: 72px;
  margin-left: 100px;
}

.team-offset .btn {
  float: left;
  margin-top: 23px;
  margin-right: 20px;
}
